<div class="sudo-play-pad">
  <div class="sudo-play-pad__inputs">
    <span class="sudo-play-pad__toggle-inputs-icon"
      [ngClass]="{ 'hide-pad': hidePad }"
      (click)="hidePad = !hidePad">
      👁
    </span>

    <div *ngFor="let number of selection(); let i = index"
      class="sudo-play-pad__input-unit"
      [ngClass]="{ locked: lockedSelection[i] }">
      <div
        class="sudo-play-pad__input"
        [ngClass]="{ focused: focusedPos === i, accented: accentPads[number ?? -1] }"
        (click)="updateFocus(i)">
        {{ number ?? '' }}
      </div>
      <span class="sudo-play-pad__lock"
        [ngClass]="{ disabled: !canLock }"
        (click)="toggleLock(i)">
        🔒
      </span>
    </div>
    <sudo-send-button class="sudo-play-pad__submit"
      [disabled]="submitDisabled() || forceDisabled"
      (click)="submitSelection()">
    </sudo-send-button>
  </div>
  <sudo-numpad
    [ngClass]="{ 'hide-pad': hidePad }"
    [disabledPads]="disabledPads()"
    [accentPads]="accentPads"
    [lockedPads]="lockedPads"
    (select)="selectNum($event)"
    (hold)="holdNum($event)"></sudo-numpad>
</div>
