:host::ng-deep .sudo-send-button {
  width: 2rem;
  height: 2rem;

  .sudo-send-button__arrow {
    font-size: 1.2rem;
    transform: rotate(-90deg);
  }
}

.sudo-play-pad__inputs {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  margin: 0.25rem;
  justify-content: center;
  align-items: flex-start;
}

.sudo-play-pad__input-unit {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.locked {    
    .sudo-play-pad__input {
      color: red;
      border-color: black;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .sudo-play-pad__lock {
      background-color: black;
    }
  }
}

.sudo-play-pad__input {
  text-align: center;
  font-size: 1.5rem;
  height: 2rem;
  width: 2rem;
  border: 3px solid darkgray;
  border-radius: 0.5rem;

  &.focused {
    border-color: green;
  }

  &.accented {
    color: var(--green);
  }
}

.sudo-play-pad__lock {
  transition: 0.25s;
  text-align: center;
  padding: 0.25rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  &.disabled {
    opacity: 0;
    transition: 0.25s;
  }
}
