/* You can add global styles to this file, and also import other style files */
:root {
  --lightblack: #02020299;
  --lightgray: #9b9b9b99;
  --lightblue: #0093c099;
  --green: #08784b99;

  // solid colors are the same as above without the 99 at the end
  --black: #0e0e0e;
  --white: #efefef;
  --solid-green: #08784b;
}

body {
  margin: 0;
  height: 100dvh;
  overflow: hidden;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

input, textarea {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
