.sudo-numpad {
  display: grid;
  grid-template-columns: repeat(5, minmax(1rem, 3rem));
  gap: 0.5rem;
  margin: 0.25rem;
  justify-content: center;

  --active: var(--lightblack);
}

.sudo-numpad__option {
  aspect-ratio: 1 / 1;
  font-size: 1rem;
  font-weight: 700;
  user-select: none;
  /* todo: create a look & feel */
  color: var(--active);
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  box-shadow: inset 0px 0px 4px 0px var(--active);

  &.disabled {
    --active: darkgray;
    opacity: 0.5;
  }

  &.accent {
    --active: var(--green);
  }

  &.locked,
  &.locked.accent {
    --active: red;
  }

  &:active {
    color: white;
    box-shadow: none;
    background-color: var(--active);
  }
}
