:host {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  overflow: hidden;
}
.game-chat__body {
  padding: 0.5rem;
  background-color: whitesmoke;
  flex-grow: 1;
  display: flex;
  flex-flow: column-reverse nowrap;
  row-gap: 1rem;
  overflow: overlay;
}

.game-chat__input {
  display: flex;
  column-gap: 0.5rem;
  position: relative;
}

.game-chat__send-button {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}

.game-chat__textarea {
  flex-grow: 1;
  resize: none;
  padding-right: 2.5rem;
  outline: none;
  height: 2rem;
  border-top: 1px solid darkgray;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

turn-message {
  &.winner, &.right.winner {
    width: unset;
    align-self: stretch;
  }
  &.right {
    background-color: var(--user-color);
    align-self: flex-end;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  &:not(.right) {
    background-color: var(--user-color);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }  
}
