<section class="room" *ngIf="gameState() as gameState" >
  <div *ngIf="showCopyMessage"
    class="room__invite"
    (click)="onShareRoom()">
    <span class="room__invite-message">{{ copyAddressMessage() }}</span>
    <span class="room__invite-close" (click)="showCopyMessage = false">X</span>
  </div>
  <user-list></user-list>
  <game-chat></game-chat>

  <ng-container [ngSwitch]="gameState.status">
    <!-- todo: combine awaiting and started in one -->
    <game-awaiting *ngSwitchCase="GameStates.Awaiting" />
    <game-started *ngSwitchCase="GameStates.Started" />
    <!-- <div *ngSwitchCase="GameStates.Ended">Ended!</div> -->
  </ng-container>

  <small *ngIf="gameState.status != GameStates.Ended && playerSelection() as selection"
    class="room__selection">
    You selected: <strong>{{ selection }}</strong>
  </small>
  <div class="room__turn-signal" *ngIf="gameState.status == GameStates.Started" [ngClass]="{ 'current-turn': gameState.myTurn }">
    {{ gameState.myTurn ? 'Its your turn' : 'Waiting for ' + gameState.oponent?.username + '...' }}
  </div>
</section>
